crudini
gnocchiclient
osc-placement
# Until Python 3 compatibility
py2-ipaddress
python-cinderclient
python-glanceclient
python-ironicclient
python-keystoneclient
python-neutronclient
python-novaclient
python-openstackclient
python-swiftclient
