crudini
gnocchiclient
osc-placement
python-cinderclient
python-dracclient
python-glanceclient
python-ironicclient
python-keystoneclient
python-neutronclient
python-novaclient
python-openstackclient
python-swiftclient
# Chameleon client
python-chi>=0.4.4,<1.0.0
python-chi-operator
