git+https://github.com/ChameleonCloud/python-blazarclient@chameleoncloud/xena#egg=python-blazarclient
git+https://github.com/ChameleonCloud/python-heatclient@stable/rocky#egg=python-heatclient
git+https://github.com/ChameleonCloud/python-zunclient@chameleoncloud/xena#egg=python-zunclient
python-swiftclient==3.11.1
