osc-placement
python-cinderclient
git+https://github.com/ChameleonCloud/python-doniclient.git
python-dracclient
python-glanceclient
python-ironicclient
python-keystoneclient
python-neutronclient
python-novaclient
python-openstackclient
pyyaml
