gnocchiclient
osc-placement
python-cinderclient
python-doniclient>=0.5.0
python-dracclient
python-glanceclient
python-ironicclient
python-keystoneclient
python-neutronclient
python-novaclient
python-openstackclient
pyyaml
